@model IEnumerable<ProjectOne.Db.Class>
@{
    ViewData["Title"] = "Classes";
}

<div class="text-left">
    <h3>@ViewData["Title"]</h3>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            @foreach (var c in Model)
            {
                var className = c.ClassName;
                var classDescription = c.ClassDescription;
                var classPrice = c.ClassPrice.ToString("C");
                <tbody>
                    <tr>
                        <td>@className</td>
                        <td>@classDescription</td>
                        <td>@classPrice</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>


