@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome To The Learning Center</h1>
    <p>The place for technology classes.</p>
    <button type="button" class="btn btn-primary">Learn more</button>
</div>
