@model ProjectOne.WebSite.Models.LoginModel

@{
    ViewData["Title"] = "Log In";
}

<div class="text-left">
    <h4>@ViewData["Title"]</h4>
    <div class="col-md-4 padding-left-none">
        <form asp-action="LogIn" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewData["Title"]" class="btn btn-success" />
            </div>
        </form>
        <a>@Html.ActionLink("Register a New User", "Register")</a>
    </div>
</div>