body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; 
    border-top: 1px solid #eee;
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.margin-top {
    margin-top: 40px;
}

h4 {
    margin-top: 40px;
}

.padding-left-none {
    padding-left: 0;
}
