@model ProjectOne.WebSite.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="text-left">
    <h4>@ViewData["Title"]</h4>
    <div class="col-md-4 padding-left-none">
        <form method="post" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewData["Title"]" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
